@model IEnumerable<Client.Models.University>

@{
    ViewData["Title"] = "Index";
    Layout = "LayoutHrd";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    <button class="btn btn-info" onclick="getId(@item.Id)" data-bs-toggle="modal" data-bs-target="#ModalDetail">Aproval</button>|
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>

<form class="needs-validation" novalidate>
    <div class="modal fade" id="ModalDetail" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Aproval</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <div class="mb-3">
                        <label for="inputUniversitas" class="form-label">FullName</label>
                        <input type="text" class="form-control" id="" placeholder="Fullname" readonly>
                    </div>
                    <div class="mb-3 ">
                        <label for="inputUniversitas" class="form-label">Universitas</label>
                        <input type="text" class="form-control" id="" placeholder="Nama Universitas" readonly>
                    </div>
                </div>


                <div class="modal-footer justify-content-md-start row">
                    <button type="button" class="btn btn-secondary col-md-2 " data-bs-dismiss="modal">Close</button>
                    <div class="col-md-5"></div>
                    <button type="button" class="btn btn-success col-md-2" onclick="Aproval()">Yes</button>
                    <button type="button" class="btn btn-danger col-md-2" onclick="NoAproval()">No</button>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    <script src="~/js/Hrd.js"></script>
}